# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Playwright outputs
playwright-report/
test-results/
trace.zip

# OS / IDE
.DS_Store
.idea/
.vscode/

**/reports/

report.html

